<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}.${revisionNumber}</version>
	<package>org.openmrs.module.esaudefeatures</package>
	<author>JuuTech</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.esaudefeatures.EsaudeFeaturesActivator</activator>
	
	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>1.11.6</require_version>

	<require_modules>
		<require_module>org.openmrs.module.webservices.rest</require_module>
	</require_modules>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>@MODULE_PACKAGE@.web.extension.GutterListExt</class>
	</extension>
	
	
	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->
	
	
	<!-- Required Privileges 
	<privilege>
		<name>Form Entry</name>
		<description>Allows user to access Form Entry pages/functions</description>
	</privilege>
	 /Required Privileges -->


	<globalProperty>
		<property>@MODULE_ID@.openmrs.remote.server.url</property>
		<defaultValue></defaultValue>
		<description>
			The URL of the OpenMRS server from which to search for patients
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.fhir.remote.server.url</property>
		<defaultValue></defaultValue>
		<description>
			The URL of the OpenCR MPI or SANTEMPI server from which to search for patients
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.openmrs.remote.server.username</property>
		<defaultValue></defaultValue>
		<description>
			Username of the user who has privilege to view patients on
			the OpenMRS remote server.
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.opencr.remote.server.username</property>
		<defaultValue></defaultValue>
		<description>
			Username of the user who has privilege to view patients on
			the OpenCR MPI server.
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.openmrs.remote.server.password</property>
		<defaultValue></defaultValue>
		<description>
			The password for the remote OpenMRS server username.
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.opencr.remote.server.password</property>
		<defaultValue></defaultValue>
		<description>
			The password for the OpenCR MPI server username.
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.remote.server.type</property>
		<defaultValue>SANTEMPI</defaultValue>
		<description>
			The remote server type. Can have one of the three values, either OPENMRS or OPENCR or SANTEMPI
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.remote.server.skip.hostname.verification</property>
		<defaultValue>FALSE</defaultValue>
		<description>
			This property tells the system whether to skip hostname verification during the SSL handshake. It can be for self signed
			SSL certificates, otherwise this should never be set to true. Set to TRUE if you know what you are doing.
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.openmrs.uuid.fhir.identifier.system.mappings</property>
		<defaultValue>
			8d793bee-c2cc-11de-8d13-0010c6dffd0f^http://metadata.epts.e-saude.net/dictionary/patient-identifiers/openmrs-num,
			e2b966d0-1d5f-11e0-b929-000c29ad1d07^http://metadata.epts.e-saude.net/dictionary/patient-identifiers/nid-tarv,
			e2b9682e-1d5f-11e0-b929-000c29ad1d07^http://metadata.epts.e-saude.net/dictionary/patient-identifiers/bi,
			e2b9698c-1d5f-11e0-b929-000c29ad1d07^http://metadata.epts.e-saude.net/dictionary/patient-identifiers/cdg-ats,
			e2b96ad6-1d5f-11e0-b929-000c29ad1d07^http://metadata.epts.e-saude.net/dictionary/patient-identifiers/cdg-ptv-pre-natal,
			e2b96c16-1d5f-11e0-b929-000c29ad1d07^http://metadata.epts.e-saude.net/dictionary/patient-identifiers/cdg-its,
			e2b96d56-1d5f-11e0-b929-000c29ad1d07^http://metadata.epts.e-saude.net/dictionary/patient-identifiers/cdg-ptc-maternidade,
			e2b97b70-1d5f-11e0-b929-000c29ad1d07^http://metadata.epts.e-saude.net/dictionary/patient-identifiers/nid-ccr,
			e2b97cec-1d5f-11e0-b929-000c29ad1d07^http://metadata.epts.e-saude.net/dictionary/patient-identifiers/pcr-num-reg,
			e2b97e40-1d5f-11e0-b929-000c29ad1d07^http://metadata.epts.e-saude.net/dictionary/patient-identifiers/nit-tb,
			e2b97f8a-1d5f-11e0-b929-000c29ad1d07^http://metadata.epts.e-saude.net/dictionary/patient-identifiers/num-cancro-cervical,
			e89c8925-35cc-4a29-9002-6b36bf3fd47f^http://metadata.epts.e-saude.net/dictionary/patient-identifiers/nuic,
			79ad599a-50df-48f8-865c-0095ec9a9d01^http://metadata.epts.e-saude.net/dictionary/patient-identifiers/nid-disa,
			1c72703d-fb55-439e-af4f-ef39a1049e19^http://metadata.epts.e-saude.net/dictionary/patient-identifiers/cram-id,
			bce7c891-27e9-42ec-abb0-aec3a641175e^http://metadata.epts.e-saude.net/dictionary/patient-identifiers/nid-prep,
			a5d38e09-efcb-4d91-a526-50ce1ba5011a^http://metadata.epts.e-saude.net/dictionary/patient-identifiers/openempi-id,
			05a29f94-c0ed-11e2-94be-8c13b969e334^http://metadata.epts.e-saude.net/dictionary/patient-identifiers/openmrs-id
		</defaultValue>
		<description>
			The identifier system to Openmrs identifier type uuid mapping used for mapping the identifier types to associated fhir system.
			The mapping in this property contains the uuid of the identifier type as the first segment and system uri as the second segment separated
			by a carret (^).
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.fhir.identifier.system.for.openmrs.patient.uuid</property>
		<defaultValue>http://metadata.epts.e-saude.net/dictionary/patient-uuid</defaultValue>
		<description>
			The FHIR identifier system used to represent the patient/person UUID in the MPI.
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.oauth2.client.id</property>
		<description>Client ID of the application configured on SanteMPI</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.oauth2.client.secret</property>
		<description>Secret code provided by the SanteMPI server for this application</description>
	</globalProperty>

	<!--
	<dwr>
		<allow>
			<create creator="new" javascript="DWRFormEntryService">
				<param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/>
				<include method="enterForm"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.web.DWRFormEntryService;
			DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
			]]>
		</signatures>	
	</dwr>
	-->
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

